<!DOCTYPE html>
<div class="main-body">
  <div class="row">
    <a class="topic" id="painting" href="/painting">
      <div class="word" id="trans">painting</div>
    </a>
    <a href="/linkedin">linkedin</a>
</div>
