<!DOCTYPE html>
<head>

</head>
<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to your profile, <%= user.username %></h1>
    </header>
    <main>
        <p>extra information about you.</p>
    </main>
  <div class="main-body">
    <div class="row">
      <a href="/auth/login">Login</a>
      <a href="/auth/linkedin">Login with LinkedIn</a>
      <a href="/auth/facebook">Login with Facebook</a>
      <a href="/auth/google">Login with Google</a>
      {{!-- <a href="" onclick="javascript:loginWithFacebook()">facebook</a> --}}
  </div>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '157356078965913',
        cookie     : true,
        xfbml      : true,
        version    : 'v6.0'
      });
      FB.AppEvents.logPageView();  
      fbSDKLoaded()
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script src="/script.js"></script>
</body>