<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {{> main}}
    {{!-- <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav> --}}
    <header>
        <h1>Complete your profile, {{user.username}}</h1>
    </header>
    <main>
        <img src={{user.photo}} />

        <div class="form-container">

        <form id="form-data" action="/saveprofile" method="post">
            <div class="form-group" id="user-id-hide">
                <input type="text" class="form-control" name="userid" id="userid" value="{{user._id}}" placeholder="{{user._id}}">
            </div>
            {{!-- <div class="form-group">
                <label for="exampleInputEmail1">Your email:</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> --}}
            {{!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> --}}
            {{!-- <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div> --}}
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            {{!-- zip code --}}
            <div class="form-group">
                <label for="exampleFormControlInput1">Your Zip Code:</label>
                <input type="text" class="form-control" name="zipcode" id="exampleFormControlInput1" placeholder="">
            </div>

            {{!-- city --}}
            <div class="form-group">
                <label for="exampleFormControlInput1">Your City:</label>
                <input type="text" class="form-control" name="city" id="exampleFormControlInput1" placeholder="">
            </div>

            {{!-- state --}}
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" name="state" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
            </div>

            {{!-- your gender --}}
            <label for="exampleInputEmail1">Your gender:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="female">
                <label class="form-check-label" for="exampleRadios2">
                Female
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="male">
                <label class="form-check-label" for="exampleRadios2">
                Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="non-conforming">
                <label class="form-check-label" for="exampleRadios2">
                Non-conforming
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="non-binary">
                <label class="form-check-label" for="exampleRadios2">
                Non-binary
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="i'm not really into labels">
                <label class="form-check-label" for="exampleRadios2">
                I'm not really into labels
                </label>
            </div>

            {{!-- lgbtq --}}
            <label for="exampleInputEmail1">Do you identify with the LGBTQ+ community?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="lgbtq" id="exampleRadios3" value="yes">
                <label class="form-check-label" for="exampleRadios3">
                Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="lgbtq" id="exampleRadios3" value="no">
                <label class="form-check-label" for="exampleRadios3">
                No
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="lgbtq" id="exampleRadios3" value="i'd rather not say">
                <label class="form-check-label" for="exampleRadios3">
                I'd rather not say
                </label>
            </div>

            {{!-- your race --}}
            <label for="exampleInputEmail1">Which races do you identify with?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="Asian / Pacific Islander" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Asian / Pacific Islander
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="Black / African American" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Black / African American
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="Hispanic (May be of any race)" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"></label>
                    Hispanic (May be of any race)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="Native American (Aleutian Islander)" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Native American (Aleutian Islander)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="White (Non-Hispanic)" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    White (Non-Hispanic)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="Multi-racial" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Multi-racial
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="Native or Indegenous" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Native or Indegenous
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="I identify with a race not listed here" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    I identify with a race not listed here
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="race" value="I would prefer not to indicate my race" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    I would prefer not to indicate my race
                </label>
            </div>

            {{!-- submit button --}}
            <button type="submit" class="btn btn-primary">Submit</button>
            <button onclick="getFormData()">Try it</button>
        </form>

        </div>

    </main>

    <script>
        function getFormData() {
            var x = document.getElementById("form-data").elements[0].value;
            console.log(x);
        }
    </script>
</body>


{{!-- Your Zip Code:  --}}

Your City and State: 

Your Birthday: 

{{!-- Your Gender: 
-female
-male
-non-conforming
-non-binary
-i'm not really into labels --}}

{{!-- Do you identify with the LGBTQ+ community?
-yes
-no
-i'd rather not say --}}

{{!-- Which races do you identify with? 
-Asian / Pacific Islander
-Black / African American
-Hispanic (May be of any race)
-Native American (Aleutian Islander)
-White (Non-Hispanic)
-Multi-racial
-Native or Indegenous
-I identify with a race not listed here
-I would prefer not to indicate my race --}}

What languages do you speak fluently? 
English
American Sign Language
Bengali
Cantonese
Creole
French
German
Greek
Hebrew
Hindi
Hungarian
Italian
Japanese
Korean
Mandarin
Other
Persian
Polish
Portuguese
Russian
Serbo-Croatian
Spanish
Tagalog
Urdu
Vietnamese
Arabic

What are your areas of expertise? 

Mathematics
Biology
Physics
English
Social Studies
Chess
Cooking
Finance & Law
Entrepreneurship
Economics and Accounting
Makeup and Skincare
Health and Fitness
Language (e.g. Reading, Writing, ESL)
Art History
Performing Arts
Basketball
Track and Field
Survival Skills
Medicine
Outdoor (Survival, Seasonal, Outdoor activities)
General Health
Software
Coding
App Development
Robotics and AI
Architecture
Real Estate
International Relations
Marketing and PR
Other

If you answered other to the previous question, please write it here: 
______

What is your highest level of education? 
High School Diploma
2-year college degree (Associate's)
4-year college degree (Bachelor's)
Master's Degree (MBA, MPA, MA, etc.)
PhD, JD, or MD
None academic- gained through career

Job Title and Company
________

What amount of time are you willing to commit to mentoring?
1 hour a week
1 hour a month
More than an hour a week
More than an hour a month
Other

For how long do you anticipate being a mentor? 
One-off
1 week
3 months
6 months
1 year
Open-ended
Other