@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700,800');
@import url(https://fonts.googleapis.com/css?family=Cormorant+Unicase:400,300);

body {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.navbar {
  border: 1px solid #000;
  height: 60px;
}
.bemy-nav-logo {
  /* background-image: url('/photos/bemy_logo_black.png');
  background-size: cover;
  width: 120px;
  height: 25px;
  border: 1px solid #000; */
  margin: auto;
}
.become {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px; 
}
.join {
  text-align: center;
  margin-bottom: 50px;
}
#login-container {
  text-align: center;
}
.login-btn {
  width: 240px;
  border: 1px solid #000;
  display: block;
  margin: auto;
  padding: 18px;
  margin-bottom: 20px;
}
#google {
}
.form-container {
  width: 65%;
  margin: auto;
}
#user-id-hide {
  display: none;
}